{% extends 'base.html' %}
{% load static %}
 
{% block title %}Registrar Curso{% endblock %}
 
{% block cssAdicional %}
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet">

<link rel="stylesheet"
      href="{% static 'css/cursos_Estilos.css' %}?v=10">

{% endblock cssAdicional %}
 
{% block contenidoPagina %}

<div class="listaDeCursos">
    <div class="cursosDisponibles">
        <div class="titulosCursos">
            <h2 class="nombreCurso">{{ modulo.nombre }}</h2>
            <h2 class="progreso">Progresos</h2>
            <h2 class="Intententos">Intentos</h2>
            <div></div>
        </div>
        {% for c in cursos_data %}
            <div class="cursosTitulo">
                <h2>{{ c.curso.nombreCurso }}</h2>
            </div>
            <ul>
                {% for video_item in c.videos_data %}
                    <li>
                        <a href="{% url 'videosCursos' video_item.id %}">
                            {{ video_item.nombreVideo }}
                        </a>

                        <div style="text-align: center; color: #1e293b; font-weight: 500;">
                            {% if video_item.visto %}
                                <span style="color: #22c55e;">✅ Visto</span>
                            {% else %}
                                <span style="color: #94a3b8;">Pendiente</span>
                            {% endif %}
                        </div>

                        <div style="text-align: center; color: #1e293b; font-weight: 500;">
                            <span>{{ video_item.intentos }}</span>
                            {% if video_item.aprobado %}
                                <span style="color: #22c55e; font-size: 12px; margin-left: 4px;">(Aprobado)</span>
                            {% endif %}
                        </div>

                        {% if video_item.tiene_examen %}
                            <a href="{% url 'examen' video_item.id %}">
                                Ir al cuestionario
                            </a>
                        {% else %}
                            <span style="color: #94a3b8; font-size: 14px; margin-left: 10px; display: inline-block; text-align: right;">Cuestionario no disponible</span>
                        {% endif %}

                    </li>

                {% empty %}

                    <li style="grid-column: 1 / -1; justify-content: center;">
                        Este curso no tiene videos
                    </li>

                {% endfor %}

            </ul>

        {% empty %}

            <p style="padding:40px; text-align:center; color:#999;">
                No hay cursos disponibles
            </p>

        {% endfor %}

    </div>

</div>

{% endblock contenidoPagina %}
 
{% block javascriptPagina %}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

<script src="{% static 'js/nuevoCurso.js' %}?v=5"></script>

{% endblock javascriptPagina %}